# Unity-generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Build output
[Bb]uild/
[Bb]uilds/
Assets/AddressableAssetsData/Windows/
Assets/AddressableAssetsData/Windows.meta

# Generated IDE files
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
Desktop.ini
